.header-container {
    min-width: 850px;
    width: 65%;
    height: 100%;
  }
.main-container {
  height: inherit;
}
.title-container h2 {
  font-size: 60px;
  font-family: COMIC SANS MS;
  font-weight: 800;
  color: #ffa135;
  text-shadow: -5px 2px 4px rgba(16,28,32,0.6);
}
a {
  text-decoration: none;
}
.signup {
  width: 180px;
}
.login {}
.login h3 {
  margin-left: 34px;
}
.signup h3 {
  margin-left: 27px;
}

.bigbutton:hover {
  box-shadow: -1px 2px 4px rgba(0,0,0,0.7);
  background-color: red;
}

.title-container {
  height: 100%;
  display: inline-block;
  position: absolute;
  margin-top: 3px;
  margin-left: 40px;
}
.bigbutton {
  min-width: 120px;
  height: 60%;
  background-color: #fb9520;
  display: inline-block;
  position: relative;
  border-radius: 9px;
  box-shadow: -1px 2px 4px rgba(0,0,0,0.5);
  cursor: pointer;
  transition-duration: 400ms;
  transition-property: all;
  transition-timing-function: ease;
  margin-right:10px;
}
.bigbutton h3 {
  color: white;
  font-family: museo;
  font-weight: 400;
  font-size: 30px;
  display: inline-block;
  position: relative;
  text-shadow: -1px 2px 4px rgba(0,0,0,0.2);
  margin-top: 9px;
}

.login-panel {
  height: 100%;
  display: inline-block;
  position: absolute;
  margin-top: 15px;
  margin-left: 40%;
}
.header {
  width: 100%;
  height: 80px;
  background-color: rgba(20,20,20, 0.17);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 2;
  position: absolute;
}
.center {
  margin: 0 auto;
}

h1::selection, h3::selection {
 background: transparent;
}
