.sh {
  display: inline-block;
  position: absolute;
  width: 30px;
  margin-top: 172px;
  margin-left: 67%;
  cursor: pointer;
}
.rotation {
  -webkit-animation-name: rotation;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotation;
  -moz-animation-duration: 1.5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -o-animation-name: rotation;
  -o-animation-duration: 1.5s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
  animation-name: rotation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-webkit-keyframes rotation {
  0% {-webkit-transform:rotate(0deg);
  -moz-transform:rotate(0deg);
  -o-transform:rotate(0deg);
  transform:rotate(0deg);}
  100% {-webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -o-transform:rotate(360deg);
  transform:rotate(360deg);}
  }
.inputer {
  position: relative;
  width: 100%;
}
.url-button {
  position: absolute;
  margin-top: 163px;
  margin-left: 1042px;
  height: 47px;
  width: 12%;
  background-color: #fb9520;
  border-style: unset;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  transition-duration: 400ms;
  transition-property: background-color, box-shadow;
  transition-timing-function: ease;
  cursor: pointer;
  color: white;
  font-family: museo;
  font-size: 20px;
  text-shadow: -1px 2px 4px rgba(0,0,0,0.2);
  box-shadow: -1px 2px 4px rgba(0,0,0,0.2);
}
.url-button:hover{
  box-shadow: -1px 2px 10px rgba(0,0,0,0.7);
  background-color: #ff7300;
}
.input {
  position: absolute;
  width: 45%;
  height: 41px;
  margin: 11% 0px 0px 19%;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-color: #fb9520;
  border-style: solid;
  border-width: 2px;
  font-size: 19px;
  font-weight: 400;
  font-family: museo;
  padding-left: 17px;
  box-shadow: -1px 2px 4px rgba(0,0,0,0.2);
}

.url-button:active, .url-button:focus {
  outline: none;
}
.url-button::-moz-focus-inner {
    border: 0;
  }
.input:active, .input:focus {
  outline: none;
  }
.input::-moz-focus-inner {
    border: 0;
  }

.topback .back {
  width: 100%;
  height: 350px;
  transition-duration: 1500ms;
  transition-property: all;
  transition-timing-function: ease;
  }

.back-after {
  height: 520px;
  }

  .Error {
    position: absolute;
    margin-top: -43px;
    margin-left: 355px;
    display: none;
  }
  span {
    color: red;
    font-size: 16px;
  }
  .passcase h4 {
    display: inline-block;
    opacity: inherit;
    color: white;
    font-family: museo;
    text-shadow: -1px 2px 4px rgba(0,0,0,0.5);
    font-size: 20px;
    margin-left: 25px;
    z-index:1;
    position: relative;
    margin-top: 10px;
  }
  .passcase {
    display: none;
    opacity: 0;
    margin: -15% 0 0 0;
    transition-duration: 3000ms;
    transition-property: all;
    transition-timing-function: ease;
  }
  .passinput {
    position: relative;
    width: 70%;
    height: 41px;
    margin: 4% 0px 0px 3%;
    border-radius: 10px;
    border-color: #fb9520;
    border-style: solid;
    border-width: 2px;
    font-size: 19px;
    font-weight: 400;
    font-family: museo;
    padding-left: 17px;
    box-shadow: -1px 2px 4px rgba(0,0,0,0.2);
  }
  .passinput:active, .passinput:focus {
    outline: none;
    }
  .passinput::-moz-focus-inner {
      border: 0;
    }

  .check h3 {
    display: inline-block;
    opacity: inherit;
    color: white;
    font-family: museo;
    text-shadow: -1px 2px 4px rgba(0,0,0,0.5);
    font-size: 25px;
    margin-left: 25px;
    z-index:1;
    position: absolute;
    margin-top: 10px;
  }
  .check {
    position:relative;
    margin-top: 40px;
    transition-duration: 1500ms;
    transition-property: all;
    transition-timing-function: ease;
  }
  .hr{
    box-shadow: -1px 2px 4px rgba(0,0,0,0.5);
    z-index: 0;
    margin-top: -4px;
    margin-left: 19px;
  }
  .inp {
    position: absolute;
    background-color: rgba(0,0,0,0);
    width: 64%;
    height: 400px;
    opacity: 0;
    transition-duration: 700ms;
    transition-property: all;
    transition-timing-function: ease;
  }
  .inp h2 {
    opacity: inherit;
    color: white;
    font-family: museo;
    text-shadow: -1px 2px 4px rgba(0,0,0,0.5);
    font-size: 35px;
    margin-left: 25px;
    z-index:1;
  }  
