@font-face {
    src: url("1.ttf");
    font-family: one;
}

@font-face {
    src: url("2.ttf");
    font-family: two;
}

@font-face {
    src: url("3.ttf");
    font-family: three;
}

@font-face {
    src: url("museo.otf");
    font-family: museo;
}
